<div class="row">
  <div class="col-md-8 mt-4 mb-4">
    <div class="card">
      <div class="card-header">Сменить пароль</div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group row">
            <%= f.label :email, class: "col-md-4 col-form-label text-md-right" %>
            <div class="col-md-6">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group row">
            <%= f.label :password, class: "col-md-4 col-form-label text-md-right" %>
            <div class="col-md-6">
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :password_confirmation, class: "col-md-4 col-form-label text-md-right" %><br />
            <div class="col-md-6">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :current_password, class: "col-md-4 col-form-label text-md-right" %>
            <div class="col-md-6">
              <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
            </div>
          </div>

          <div class="actions col-md-6 offset-md-4">
            <%= f.submit "Обновить", class: "btn btn-primary btn-sm" %>
          </div>
        <% end %>
      </div>

      <div class="card-footer">
        <div class="actions">
          <%= link_to "Назад", :back, class: "float-left btn btn-primary btn-sm" %>
          <%= button_to "Удалить аккаунт", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete,
                        class: "float-right btn btn-danger btn-sm" %>
        </div>
      </div>
    </div>
  </div>
</div>
