<%# Паршиал дляотображения формы создания нового события %>
<%= form_for(@event) do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @event} %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :datetime %>
    <%= f.text_field :datetime, data: { timepicker: true }, class: 'form-control datepicker-here',
                     id: 'event_datetime', autocomplete: 'off'%>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <% unless @event.new_record? %>
    <div class="form-group">
      <%= link_to(t('app.buttons.delete_event'), event_path(@event), method: "delete",
                    class: 'btn btn-danger btn-sm ', data: { confirm: t('app.messages.exactly_remove?') }) %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit t('app.buttons.save'), class: 'btn btn-primary btn-sm' %>
    или <%= link_to 'вернуться', :back %>
  </div>
<% end %>
