<h1><%= t '.title' %></h1>

<p><%= t '.author' %>: <strong><%= @author %></strong></p>

<hr/>

<p><%= link_to image_tag(@photo.photo.thumb.url), event_url(@event) %></p>

<%= t '.event' %>
<h3><%= @event.title %></h3>

<%= t '.owner' %>
<h4><%= @event.user.name %></h4>
